.title{
    font-size: 30px;
    font-style: italic;
    width: 50%; 
    height: 60%; 
    float: right;
    top: 120px;
    color:grey;
}
.primeira{
    font-size: 80px;
    font-style: sans serif;
    width: 90%; 
    height: 60%; 
    float: right;
    top: 120px;
    color: #2F4F4F;
}