.title{
    font-size: 30px;
    font-style: italic;
    width: 50%; 
    height: 60%; 
    float: right;
    top: 120px;
    color:grey;
}
.primeira{
    font-size: 50px;
    font-style: italic;
    width: 90%; 
    height: 60%; 
    float: right;
    top: 50px;
    color: #2F4F4F;
}
.corpo{
    background-color: #B0E0E6;
}
.segunda{
    font-style: inherit;

}